<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kotlin.speedsea">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".eighteenActivity"
            android:noHistory="true" />
        <activity
            android:name=".seventeenActivity"
            android:noHistory="true" />
        <activity
            android:name=".sixteenActivity"
            android:noHistory="true" />
        <activity
            android:name=".fifteenActivity"
            android:noHistory="true" />
        <activity
            android:name=".fourteenActivity"
            android:noHistory="true" />
        <activity
            android:name=".thirteenActivity"
            android:noHistory="true" />
        <activity
            android:name=".twelveActivity"
            android:noHistory="true" />
        <activity
            android:name=".elevenActivity"
            android:noHistory="true" />
        <activity
            android:name=".nineActivity"
            android:noHistory="true" />
        <activity
            android:name=".tenActivity"
            android:noHistory="true" />
        <activity
            android:name=".eightActivity"
            android:noHistory="true" />
        <activity
            android:name=".sevenActivity"
            android:noHistory="true" />
        <activity
            android:name=".sixActivity"
            android:noHistory="true" />
        <activity
            android:name=".fiveActivity"
            android:noHistory="true" />
        <activity
            android:name=".fourActivity"
            android:noHistory="true" />
        <activity
            android:name=".thirdActivity"
            android:noHistory="true" />
        <activity
            android:name=".secondActivity"
            android:noHistory="true" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>